body{
    background-color: lightgrey;
    font-style: normal;
    
}
p{
font-size: 18px;
font-family: sans-serif;
text-align: justify;
}
ul{
    list-style-type: square;
}
h3{
    font-weight: bold;
}
#flamingo{
    float: right;
    border-style: solid;
    border-width: 2px;
}
#ciprusi-homerseklet{
    float: left;
    border-style: solid;
    border-width: 2px;
}
#ciprus{
    float: right;
    border-style: solid;
    border-width: 2px;
}

.logo_container
{
    height: 100%;
    display: table;
    float: left;
}
#cyprus 
{
    background-image: url("cardbg.jpg");
    padding: 30px 0px;
    background-attachment: fixed;
}
.cim p
{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    padding: 25px 0px;
}
.card-body 
{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card 
{
    margin: 20px 10px;
}
#ora
{
    position: absolute;
    color: black;
    font-size: 30px;
    background-color: lightgrey;
    border: 3px solid black;
    border-radius: 10px;
    padding: 4px 3px 4px 0px;
    right: 1%;
    top: 6%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
}
#zaszlo
{
    position: absolute;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 30px;
    left: 1%;
    top: 2%;
}

#teknos
{
    height: 215px;
}


h1
{
    font-weight: bold;
    text-decoration: underline;
}
.card-body a:hover 
{
    color: #63a6b0;
    text-decoration: none;
}

.footer
{
    background-color: #303036;
    text-align: center;
    color: white;
    height: 30px;
}
.kep
{
    margin: 7px;
}
#orafelett
{
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 16px;
    right: 4%;
    top: 2%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
}
